/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #e18aec;
    margin: 0;
    padding: 20px;
    animation: myanimation 2s infinite;
    border-radius: 10px;
  }
  
  h1 {
    color: #333;
    text-align: center;
  }
  
  p {
    line-height: 1  1.5;
  }
